:root{
    --bgColor: #000814;
    --darkBlue: #001D3D;
    --lighterBlue: #003566;
    --darkerYellow: #FFC300;
    --lighterYellow: #FFD60A;
    --navColor: #000204;
}

body{
    background-color: var(--bgColor);
    font-family: Helvetica;
    margin: 0;
}

#welcome{
    margin: 10px;
    color: var(--darkerYellow);
}

#home{
    margin: 10px;
    color: var(--darkerYellow);
}

.title{
    color: white;
    padding-top: 1rem;
    padding-left: 1rem;
}

.navLinks {
    color: white;
    border: 1px, solid, white;
    padding: 0.5rem;

}

.navLinks:hover {
    color: white;
}

.center {
    align-content: center;
}

.right {
    float: right;
}

.topbar {
    background-color: yellow;
    height: 2rem;
}