:root{
    --bgColor: #000814;
    --darkBlue: #001D3D;
    --lighterBlue: #003566;
    --darkerYellow: #FFC300;
    --lighterYellow: #FFD60A;
    --navColor: #000204;
}

body{
    background-color: var(--bgColor);
    font-family: Helvetica;
    color: var(--darkerYellow);
    margin: 0;
}
/* 
:root.darkBG body{
    background-color: hsl(180, 0%, 14%);
}

:root.darkBG #icon{
    filter: invert(100%);
}

#icon{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    transition: background-color 0.25s;
    border-radius: 10px;
    height: auto;
    width: 1.5em;
}

#icon:hover{
    background-color: hsl(0, 0%, 70%);
}

#icon:active{
    width: 1.3em;
} */

h1, h2{
    /* text-shadow: 3px 3px 10px var(--lighterYellow); */
}

#welcome{
    margin: 10px;
}

#home{
    margin: 10px;
}

#navbar{
    background-color: var(--navColor);
    margin: 0;
    padding: 5px;
    height: 30px;
}

.navbarLinks{
    background-color: var(--darkBlue);
    border-radius: 4px;
    padding: 5px;
    border: 1px solid white;
    display: inline-block;
}

#dropdown{
    display: inline-block;
}

#dropdownContent a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--darkerYellow);
}

#dropdown #dropdownContent{
    display: none;
    background-color: var(--darkBlue);
    position: absolute;
    min-width: 100px;
    box-shadow: 4px 4px 5px hsla(0, 0%, 0%, 0.87);
}

#dropdown:hover #dropdownContent{
    display: block;
}